@page
@model MLGProjectManagerWeb.Pages.Projects.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>ProjectEntity</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectModel.Title" class="control-label"></label>
                <input asp-for="ProjectModel.Title" class="form-control" />
                <span asp-validation-for="ProjectModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.Description" class="control-label"></label>
                <input asp-for="ProjectModel.Description" class="form-control" />
                <span asp-validation-for="ProjectModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.StartDate" class="control-label"></label>
                <input asp-for="ProjectModel.StartDate" class="form-control" />
                <span asp-validation-for="ProjectModel.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.EndDate" class="control-label"></label>
                <input asp-for="ProjectModel.EndDate" class="form-control" />
                <span asp-validation-for="ProjectModel.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.CustomerId" class="control-label"></label>
                <select asp-for="ProjectModel.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.Status" class="control-label"></label>
                <input asp-for="ProjectModel.Status" class="form-control" />
                <span asp-validation-for="ProjectModel.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.Rate" class="control-label"></label>
                <input asp-for="ProjectModel.Rate" class="form-control" />
                <span asp-validation-for="ProjectModel.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModel.Responsible" class="control-label"></label>
                <input asp-for="ProjectModel.Responsible" class="form-control" />
                <span asp-validation-for="ProjectModel.Responsible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Projects/List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
