@page "/"
@model IndexModel
@using System.ComponentModel.DataAnnotations
@using Data.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to MLG Project Manager</h2>


</div>

